.wrapper {
  border-bottom: 1px solid #865d36;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  gap: 1em;
  font-size: 0.8em;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.navbar a {
  position: relative;
}
.navbar a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #533a2d;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .hamburger {
    display: block;
    margin-left: auto;
  }
}
