.wrapper {
  border-bottom: 1px solid #865d36;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
  gap: 1em;
  font-size: 0.8em;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.hamburger {
  display: none;
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .hamburger {
    display: block;
    margin-left: auto;
  }
}
