/* Button.module.css */
.button {
  background-color: var(--button-background-color);
  border: none;
  color: white;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  margin-left: auto;
}

.button:hover {
  background-color: #533a2d;
  color: var(--button-background-color);
}

@media (max-width: 768px) {
  .button {
    margin-left: 0;
  }
}
